{
  "dev": {
    "discord_user_id": "",
    "exec": {
      "verbose": true,
      "inspect_depth": 2
    }
  },
  "cache": {
    "guild_id": "",
    "channel_id": ""
  },
  "resetcheck": {
    "min_reset_warning": 5,
    "max_resets_per_hour": 50
  }
}